/*  //////////////////////////////////////////////////
    Subj:       Coding Dojo > Web Fundamentals > CSS
                CSS Library
    By:         Virgilio D. Cabading Jr.  Created: October 14, 2021 Last modified: October 19, 2021
    ////////////////////////////////////////////////// */

/* //// Universal Browser Reset ////////////////////// */
* {                                                     
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* //// Button ////////////////////////////////////////////////////// */
.btn {                              
    background:none;
    padding: 0px 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    box-shadow: 5px 5px 4px black;
}

.btn:hover, .btn:active {
    border-style: solid;
    border-width: 3px;
    font-weight: bold;
    cursor: pointer;;
}

.btn:active {
    transform: translateY(3px);
    box-shadow: 2px 1px 1px black;
}

/*  //// NAV BAR ///////////////////////////////////////////////////// */

.nav {                                      /* Navigation bar */
    background: navy;                      
    border-radius: 10px;
    display: flex;                          /* Nav Bar is a container */
    align-items: center;
}

/*  //// Flex Box ////////////////////////////////////////////////// */

body {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.main_container {
    width: 90%;
}

.card {
    border-style: solid;
    border-width: 2px;
    border-color: dodgerblue;
}

.header {
    background-color: dodgerblue;
}

/*      ---- Flex Direction ---------------------------------------- */

.container {
    display: flex;
}

.flex_right {
    display: flex;
    flex-direction: row;
}

.flex_down {
    display: flex;
    flex-direction: column;
}

/*      ---- Alignment ---------------------------------------------- */

.align_center {
    align-items: center;
}

.align_up {
    align-items: flex-start;
}

/*      ---- Justification ------------------------------------------ */

.justify_left {
    justify-content:flex-start;
}

.justify_right {
    justify-content: flex-end;
}

.justify_space {
    justify-content: space-around;
}

.justify_center {
    justify-content: center;
}

.justify_between {
    justify-content: space-between;
}

/*  //// Columns ///////////////////////////////////////////////// */

.col_1 {
    flex: 1;
    margin: 0px 1%;
    padding: 1%;
}

.col_2 {
    flex: 2;
    margin: 0px 1%;
    padding: 1%;

}

.col_3 {
    flex: 3;
    margin: 0px 1%;
    padding: 1%;
}

/*  //// WIDTH ///////////////////////////////////////////////////// */

.wdt_100 {
    width: 100%;
}

.wdt_90 {
    width: 90%;
}

.wdt_70 {
    width: 70%;
}

.wdt_50 {
    width: 50%  ;
}

.wdt_30 {
    width: 30%;
}

/*  //// Generic formating /////////////////////////////////////// */
h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

.bg_blue_steel {
    background: rgb(2,2,5);
    background: linear-gradient(0deg, rgba(2,2,5,1) 0%, rgba(42,36,74,1) 66%, rgba(13,13,14,1) 100%);
}

/* //// PADDING AND MARGINS ////////////////////////////////////// */

.pad_1 {
    padding: 1%;
}

.margin_1 {
    margin: 1%;
}

/*  //// BORDER ////////////////////////////////////////////////// */

.bd_solid {
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}

.db_rounded {
    border-radius: 10px;
}