/*  //////////////////////////////////////////////////
    Subj:       Coding Dojo > Web Fundamentals > Javascript > Likes
    By:         Virgilio D. Cabading Jr.    Created: October 19, 2021
    ////////////////////////////////////////////////// */
    
/*  //// NAV BAR ///////////////////////////////////// */
.nav {
    background-color: black;
    color: white;
}

/*  //// YOUR FEED//////////////////////////////////// */
.your_feed {
    margin: 3%;
}

/*  //// MAIN FEED /////////////////////////////////// */
.main_feed {
    height: 800px;
}

.card {
    border-color: black;
    margin-bottom: 1%;
}

.user_img {
    width: 80%;
    height: auto;
}

.likes_btn {
    background-color: #ffd966;
}